@charset "UTF-8";
/* condicionales */
footer {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background-color: rgba(0, 52, 165, 0.37);
  justify-content: end; }
  footer li a {
    text-decoration: none;
    color: white; }

/* condicionales */
/* MEDIA QUIERIE PARA CELU */
@media (min-width: 320px) and (max-width: 575px) {
  .contenido__1 {
    height: 30%;
    align-items: center; }
  .contenido .contenido__A {
    display: flex;
    flex-direction: column; }
  .contenido .contenido__B {
    display: flex;
    flex-direction: column; }
  .contenido__1 img {
    height: 50%; }
  .contenido__1 p {
    height: 50%; }
  .galeria__fotos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .galeria__fotos div {
    height: 10%; }
  .galeria__fotos img {
    height: 100%; }
  .contacto__form {
    display: flex;
    flex-direction: column; }
  .main__contacto {
    height: 85vh; } }

/* MEDIA QUIERIE PARA TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .contenido__1 {
    height: 30%;
    align-items: center; }
  .contenido .contenido__A {
    display: flex;
    flex-direction: column; }
  .contenido .contenido__B {
    display: flex;
    flex-direction: column; }
  .contenido__1 img {
    height: 50%; }
  .contenido__1 p {
    height: 50%; }
  .galeria__fotos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .galeria__fotos div {
    height: 10%; }
  .galeria__fotos img {
    height: 100%; } }

* {
  padding: 0%;
  margin: 0%; }

body {
  background-color: rgba(240, 240, 240, 0.541); }

/* MODIFICACIONES DEL HEADER */
header {
  height: 30vh;
  background-color: rgba(168, 3, 3, 0.692);
  /* color orientativo tamaño de contenedor */
  position: sticky;
  top: 0px;
  z-index: 100; }

.header__inicio {
  display: flex;
  flex-direction: column; }

.header__titulo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 65%;
  background-color: rgba(0, 255, 255, 0);
  /* color orientativo tamaño de contenedor */ }
  .header__titulo h1 {
    text-align: end;
    font-size: 10vw;
    padding-right: 2%; }
  .header__titulo img {
    height: 12vw;
    width: auto;
    padding-left: 2%; }

.header__nav {
  height: 35%;
  background-color: rgba(137, 43, 226, 0);
  /* color orientativo tamaño de contenedor */ }

/* MODIFICACIONES DEL MAIN */
main {
  height: auto;
  background-color: rgba(247, 138, 74, 0);
  /* color orientativo tamaño de contenedor */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.carrousel {
  height: 100vh; }

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
  width: 90%;
  padding: 5%;
  background-color: rgba(255, 0, 0, 0);
  /* color orientativo tamaño de contenedor */ }
  .contenido p {
    font-size: 3vh; }
  .contenido__1 {
    height: 34vw;
    align-items: center; }
  .contenido .contenido__A {
    display: flex;
    flex-direction: row;
    gap: 2%; }
  .contenido .contenido__B {
    display: flex;
    flex-direction: row-reverse;
    gap: 2%; }
  .contenido img {
    height: 70%;
    width: 50%; }

.main__nosotros {
  height: 100%;
  background-color: rgba(247, 138, 74, 0);
  /* color orientativo tamaño de contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%; }

.main__contacto {
  height: 60vh;
  background-color: rgba(247, 138, 74, 0);
  /* color orientativo tamaño de contenedor */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%; }

.contacto__form {
  display: flex; }
  .contacto__form img {
    height: 70%; }

.materiales {
  height: 100%;
  width: auto; }
  .materiales__grilla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    justify-content: space-around;
    gap: 29px; }

.nosotros__contenido {
  height: 100%;
  width: auto;
  gap: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .nosotros__contenido img {
    height: 100%;
    width: 50%; }
  .nosotros__contenido p {
    height: auto;
    width: 50%; }

.galeria {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  width: 95%;
  height: 100%;
  text-align: center; }
  .galeria__titulo {
    height: 10vh;
    width: auto; }
    .galeria__titulo h2 {
      margin-top: 13px;
      font-size: 3rem; }
  .galeria__fotos {
    display: grid;
    background-color: rgba(0, 0, 255, 0);
    /* color orientativo tamaño de contenedor */
    height: 100%;
    width: 95%;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: " img__1 img__1 img__2 " "img__1 img__1 img__3"  "img__4 img__5 img__5" "img__6 img__5 img__5" "img__7 img__7 img__8" "img__7 img__7 img__9"; }
    .galeria__fotos .img__1 {
      grid-area: img__1; }
      .galeria__fotos .img__1 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__2 {
      grid-area: img__2; }
      .galeria__fotos .img__2 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__3 {
      grid-area: img__3; }
      .galeria__fotos .img__3 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__4 {
      grid-area: img__4; }
      .galeria__fotos .img__4 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__5 {
      grid-area: img__5; }
      .galeria__fotos .img__5 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__6 {
      grid-area: img__6; }
      .galeria__fotos .img__6 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__7 {
      grid-area: img__7; }
      .galeria__fotos .img__7 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__8 {
      grid-area: img__8; }
      .galeria__fotos .img__8 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos .img__9 {
      grid-area: img__9; }
      .galeria__fotos .img__9 img {
        height: 100%;
        width: 100%; }
    .galeria__fotos img {
      width: 44vw; }
    .galeria__fotos div {
      background-color: rgba(165, 42, 42, 0.842);
      /* color orientativo tamaño de contenedor */
      text-align: center;
      color: white; }
