@import"operators";
@import "footer";
@import "mediaqueries";
@import "variables";

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(240, 240, 240, 0.541);
}
/* MODIFICACIONES DEL HEADER */
header {
    height: 30vh;
    background-color: $color-principal;/* color orientativo tamaño de contenedor */
    position: sticky;
    top: 0px;
    z-index: 100;
}
.header__inicio{
    display: flex;
    flex-direction: column;

}
.header__titulo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 65%;
    background-color: rgba(0, 255, 255, 0);/* color orientativo tamaño de contenedor */
    & h1{
        text-align: end;
        font-size: 10vw ;
        padding-right: 2%;
        }
    & img {
        @include sizes (12vw, auto);
        padding-left: 2%;
    }
    
}
.header__nav{
    height: 35%;
    background-color: rgba(137, 43, 226, 0);/* color orientativo tamaño de contenedor */
}
/* MODIFICACIONES DEL MAIN */
main{
    height: auto;
    background-color: rgba(247, 138, 74, 0);/* color orientativo tamaño de contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.carrousel{
    height: 100vh
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include sizes (65%, 90%);
    padding: 5%;
    background-color: rgba(255, 0, 0, 0);/* color orientativo tamaño de contenedor */
    p{
        font-size: 3vh;
    }
    &__1{
        height: 34vw;
        align-items: center;
    }
    & &__A {
        display: flex;
        flex-direction: row;
        gap: 2%;
    }
    & &__B {
        display: flex;
        flex-direction: row-reverse;
        gap: 2%;
    }
    & img {
        @include sizes (70%, 50%);
    }
}

.main__nosotros{
    height: 100%;
    background-color: rgba(247, 138, 74, 0);/* color orientativo tamaño de contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
.main__contacto{
    height: 60vh;
    background-color: rgba(247, 138, 74, 0);/* color orientativo tamaño de contenedor */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}
.contacto__form{
    display: flex;
    & img{
        height: 70%;
    }
    
}
.materiales{    
    @include sizes (100%, auto);
    &__grilla{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include sizes (100%, auto);
        justify-content: space-around;
        gap: 29px;
    }
}
.nosotros__contenido{
    @include sizes (100%, auto);
    gap: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    & img{
        @include sizes (100%, 50%);
    }
    & p{
        @include sizes (auto, 50%);
    }
    
    }
.galeria{
    display: flex;
    flex-direction: column;
    @include sizes (100%, 95%);
    width: 95%;
    height: 100% ;
    text-align:center ;
    &__titulo{
        @include sizes (10vh, auto);
        h2{
            margin-top: 13px;
            font-size: 3rem;       
        }
    }
    &__fotos{
        display: grid;
        background-color: rgba(0, 0, 255, 0);/* color orientativo tamaño de contenedor */
        @include sizes (100%, 95%);
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: " img__1 img__1 img__2 "
        "img__1 img__1 img__3" 
        "img__4 img__5 img__5"
        "img__6 img__5 img__5"
        "img__7 img__7 img__8"
        "img__7 img__7 img__9"    
        ;
            .img__1{
                grid-area: img__1;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__2{
                grid-area: img__2;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__3{
                grid-area: img__3;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__4{
                grid-area: img__4;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__5{
                grid-area: img__5;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__6{
                grid-area: img__6;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__7{
                grid-area: img__7;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__8{
                grid-area: img__8;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
            .img__9{
                grid-area: img__9;
                    img{
                        @include sizes (100%, 100%);
                    }
            }
        & img{
            width: 44vw;       
        }
        & div{
            background-color: rgba(165, 42, 42, 0.842);/* color orientativo tamaño de contenedor */
            text-align: center;
            color: white;
        }
        
        }
    
}

